.global{ 
  display: flex; 
  .left{
    background-color: rgb(214, 214, 214);
    width: 200px;
    height: 100vh;
    .name{
      background-color: rgb(255, 143, 143);
      height: 40px;
      width: 100%;
    }
    .line{
      margin-left:10%;
      margin-top:5px;
      width: 80%;
      height: 1px;
      background-color: rgb(156, 156, 156)
    }
    .list{
      margin-left: 15px;
      margin-right: 20px;
      font-size: 26px;
      width: 170px;
      height: 40px;
      cursor: pointer;
      .text{
        float: left;
        margin-left: 10px;
        width: 160px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    }
    .list:hover{
      background-color: rgb(196, 196, 196);
      border-radius: 10px;
      height: 40px;
    }
    
  }
  .right{
    background-color: gray;
    width: calc(100vw - 200px);
    height: 100vh;
    .audio{
      width: 1000px;
    }
  }
}